.line {
    flex: 1;
    height: 1px;
    background: #bdbdbd;
    margin: 0 0.625rem;
}

#sortPrice:hover {
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



#pages li {
    list-style-type: none;
    display: inline-block;
}

#pages li {
    position: relative;
    padding: 0 25px;
    text-decoration: none;
    font-weight: 500;
}

#pages li:hover,
#pages li.active {
    background-color: antiquewhite;
    border-radius: 20%;
}